<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

        <bean id="testBean" 
          class="com.neoingen.cl.test.TestBean"
          scope="view">
        <property name="nombre" value="miguel"/>
        <property name="edad" value="12"/>
        <property name="masculino" value="true"/>
    </bean>
    
    <import resource="classpath:spring/viewScopeContext.xml" />
    <import resource="classpath:spring/quartzTriggerContext.xml" />
    <import resource="classpath:spring/propertiesContext.xml" />
</beans>
